.hey{
    color:aquamarine;
    overflow:auto;
    background-image:url(https://img.freepik.com/free-vector/modern-web-design-concept-with-flat-style_23-2147933635.jpg?size=626&ext=jpg);
    background-size:cover;
    height:400px;
    width:400px;
}
.hover-me:hover{
    background-color:blue;
}
/*a:active{
    color:brown;

}*/
/*a:link{
    color:green;
}*/
a:visited{
    color:red;
}
@media screen and (min-width:720px) {
    p{
        font-size:100px;
        background-color: blueviolet;
    }
    
}
