body{
    background-color:orange;
}
.select-me{
    color:gray;
    color:gray;
}

/*.howis,whatis{
    display:inline-flexbox;
    padding:20px;
    margin:30px;
    height: 50px;
    width:20%;
}*/